<div id="container">
  <ul class="list">
    <li class="item"><a href="#">1</a></li>
    <li class="item">2</li>
    <li class="item">3</li>
    <li class="item">4</li>
    <li class="item">5</li>
    <li class="item">6</li>
    <li class="item">7</li>
    <li class="item">8</li>
    <li class="item">9</li>
    <li class="item">10</li>
  </ul>
  <ul class="list2">
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
  <form>
    <textarea></textarea>
    <button type="submit" id="submit">Submit</button>
  </form>
</div>